body {
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
}

header,
main {
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

.header-link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.paragraph {
    font-size: 21px;
    color: gray;
}

.phone-icon {
    margin: 21px 0;
}

footer {
    text-align: right;
}
